<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kursach.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
        <kursach.Properties.Settings>
                <setting name="IsSleeping" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="Life" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="Hunger" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Tired" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Happiness" serializeAs="String">
                        <value>10000</value>
                </setting>
                <setting name="Background" serializeAs="String">
                        <value>0</value>
                </setting>
        </kursach.Properties.Settings>
    </userSettings>
</configuration>